<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/PACIFIC54/src/main/java/basepack/BaseClass.java">
        <classes>
        <class name="basepack.BaseClass" />
        </classes>
    </test>
</suite>